/* Estilos para el menú superior */
header {
    background-color: #333;
    color: white;
    padding: 10px;
}

/* Estilos para el contenedor principal */
.containerCMS {
    display: flex;
    height: 200vh;
    overflow: hidden; /* Para ocultar el desbordamiento del contenido */
   
	
}


/* Estilos para el menú lateral izquierdo */
aside {
    width: 250px;
    background-color: #eee;
    padding: 10px;
    border-right: 1px solid #ccc;
    flex-shrink: 0; /* Asegura que el aside no se encoja cuando el contenido del main crezca */
}

/* Estilos para el contenido principal */
main {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Agrega desplazamiento vertical si el contenido es más largo que la altura disponible */
}

/**********************************/
ul {
  list-style-type: none;
  text-decoration: none;
}

a{text-decoration: none;

}
p{
  color: #4d4d4d;
  font-size: 16px;
}

.logoloto{

  width:15%; 
  float: left; 
  margin-top: -20px; 

}

@media only screen and (min-device-width:2461px) and (max-device-width:5000px){
  .logoloto{width:5%;}
}

@media only screen and (min-device-width:1700px) and (max-device-width:2460px){
  .logoloto{width:10%;}
}

.boton{
text-decoration: none;
color: #ffffff;
border-color: #d4ac0d;
background-color: #d4ac0d;
border-radius: 3px;
padding-top: 10px;
padding-right: 20px;
padding-bottom: 10px;
padding-left: 20px;
font-family: inherit;
font-weight: inherit;
line-height: 1;
border: none;
text-decoration: none;
cursor: pointer;
transition-duration: 0.4s;

}

.boton:hover {
background-color: #e8c22c;
text-decoration: none;
}

.topnav{
  margin-right: 50px; 
  margin-top: 50px;
  margin-left: 50px;
  padding-bottom: 60px;
}

/* --- Estilos del menú --- */

.nav {
  overflow: hidden;
  background-color: #dcdcdc;
  padding-left:6%;
}

.nav a {
  float: left;
  display: block;
  color: #5d5d5d;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 16px;
}

.nav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;    
  border: none;
  outline: none;
  color: #5d5d5d;
  padding: 10px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.nav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav.responsive .dropdown {float: none;}
  .nav.responsive .dropdown-content {position: relative;}
  .nav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

/* --- Estilos del menú lateral --- */

h3{
  color:#ffffff;
  padding: 6px;
  background-color: #d4ac0d;
  text-align: center;
  font-size: 18px;
}  

.sidenav {
  height: 100%;
  width: 200px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e9e9e9;
  overflow-x: hidden;
  padding-top: 20px;
  float: left;
}

.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #5d5d5d;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
  background-color: #555;
}


.active {
  background-color: #555;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #ededed;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* --- Estilos Contenido ejemplo --- */

.botonrojo {color: #ffffff;
border-color: #e23427;
background-color: #e23427;
border-radius: 3px;
padding-top: 10px;
padding-right: 20px;
padding-bottom: 10px;
padding-left: 20px;
font-family: inherit;
font-weight: inherit;
line-height: 1;
border: none;
text-decoration: none;
cursor: pointer;
transition-duration: 0.4s;}

.botonrojo:hover{
background-color: #fc625e;
}

.botonverde {color: #ffffff;
border-color: #29994e;
background-color: #29994e;
border-radius: 3px;
padding-top: 10px;
padding-right: 20px;
padding-bottom: 10px;
padding-left: 20px;
font-family: inherit;
font-weight: inherit;
line-height: 1;
border: none;
text-decoration: none;
cursor: pointer;
transition-duration: 0.4s;}

.botonverde:hover{
background-color: #5bb777;
}

h2{background-color: #555; 
color:#ffffff;
padding: 15px;
font-size: 18px;
}  

/**********************************/

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
background-color: #e8c22c;
text-decoration: none;
}
label.cms_inicio
{
	font-family: arial;
	font-size: 24px;
	font-weight: bold;
	color: black;
}

label.cms
{
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	color: black;
}

label.cms_error
{
	font-family: arial;
	font-size: 24px;
	font-weight: bold;
	color: red;

	display: none;
}

label.cms_menu
{
	font-family: arial;
	font-size: 24px;
	font-weight: bold;

	color: black;

	padding: 5px;
}

label.cms_sorteos
{
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	color: black;

	padding: 5px;
}

label.resultados
{
	font-family: arial;
	font-size: 20px;
	
	color: black;
}

label.cms_guardado
{
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	color: green;

	padding: 5px;
	margin-right: 10%;
}

a.cms_sorteos
{
	font-family: arial;
	font-size: 20px;
	font-weight: bold;

	color: black;

	padding: 5px;
}

a.cms_sorteos2
{
	font-family: arial;
	font-size: 20px;
	font-weight: none;

	color: black;

	margin-left: 20px;

	padding: 5px;

	display: none;
}

a.resultados
{
	font-family: arial;
	font-size: 20px;
	font-weight: none;

	color: black;

	padding: 10px;
	margin: 10px;
}

input.cms_inicio
{
	font-family: arial;
	font-size: 20px;
	font-weight: normal;
	color: black;

	width: 200px;

	padding: 10px;

	border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-top: 1px solid;
    border-radius: 5px;
}

input.fecha
{
	font-family: arial;
	font-size: 20px;
	font-weight: normal;
	color: black;

	width: 160px;

	padding: 10px;

	border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-top: 1px solid;
    border-radius: 5px;
}

input.resultados
{
	font-family: arial;
	font-size: 20px;
	font-weight: normal;
	color: black;

	width: 50px;

	padding: 10px;

	border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-top: 1px solid;
    border-radius: 5px;
}

input.fichero
{
	font-family: arial;
	font-size: 20px;
	font-weight: normal;
	color: black;

	width: 90%;
	height: 100px;

	padding: 10px;

	border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-top: 1px solid;
    border-radius: 5px;
}

input.comentario
{
	font-family: arial;
	font-size: 20px;
	font-weight: normal;
	color: black;

	width: 90%;
	height: 250px;

	padding: 10px;

	border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-top: 1px solid;
    border-radius: 5px;
}

input.cms
{
	font-family: arial;
	font-size: 20px;
	color: black;

	width: 300px;

	padding: 5px;

	border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-top: 1px solid;
    border-radius: 5px;
}

button.cms
{
	position: relative;
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	text-align: center;

	background: #e1c147;

	border-radius: 10px;

	padding: 20px;
    margin-top: 10px;
}

button.botonEditar
{
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	text-align: center;

	background: #e1c147;

	border-radius: 5px;

	padding: 5px;
}

button.botonEliminar
{
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	text-align: center;

	background: red;

	border-radius: 3px;

	padding: 5px;
}

button.botonSiguiente
{
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	text-align: center;

	background: blue;
	color:white;

	border-radius: 10px;

	padding: 20px;
    margin-top: 10px;
}

button.botonGuardar
{
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	text-align: center;

	background: green;
	color:white;

	border-radius: 10px;

	padding: 20px;
    margin-top: 10px;
}

button.botonAtras
{
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	text-align: center;

	background: red;
	color: white;

	border-radius: 10px;

	padding: 20px;
    margin-top: 10px;
}


div.titulo
{	
	font-family: arial;
    font-size: 20px;
    font-weight: bold;
    
    background: #555555;
    color: white;
    border-radius: 10px;

    margin-top: 50px;
    margin-left: 20px;
    padding: 10px;
}

table.sorteos
{	
	margin-top: 50px;
    margin-left: 24px;
    border-block: 5px solid gray;
    border-left: 5px solid gray;
    border-right: 5px solid gray;
}


td.titulo
{
	font-family: arial;
    font-size: 24px;
    font-weight: bold;
    
    background: #555555;
    color: white;
    border-radius: 10px;
}

td.cabecera
{
	padding: 10px;
	margin:10px;

	font-family: arial;
	font-size: 24px;
	font-weight: bold;
	text-align: center;

    border-radius: 5px;
    border-block: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;  
}

td.boton
{
    border-radius: 5px;
    border-block: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;   

    text-align: right;
}

td.resultados
{
	padding: 10px;
	margin:10px;

	font-family: arial;
	font-size: 24px;
	font-weight: none;
	text-align: center;

    border-radius: 5px;
    border-block: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;   
}

td.euro
{
	padding: 10px;
	margin:10px;

	font-family: arial;
	font-size: 24px;
	font-weight: none;
	text-align: center; 
}

select.sorteo
{
	font-family: monospace;
	font-size: 24px;

	width: 230px;

	border: gray 2px solid;
	border-radius:10px;
}

select.sorteo1
{
	font-family: monospace;
	font-size: 24px;
	
	padding: 8px;

	border: gray 2px solid;
	border-radius:10px;
}
.tBanners{
	border:solid 1px;
	text-align: center;
	width: 10em;
	max-height: 10em;
}

select.cms
{
	font-family: arial;
	font-size: 24px;
	
	padding: 8px;

	border: gray 2px solid;
	border-radius: 5px;
    border-block: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray; 
}

.tablaSelectorBanners{
	
	width:85%; 
	height: 800px;
	position:absolute;
	top:5em;
	left:10em;
	background-color:#FFFFFF;
	overflow:auto;
	padding:2em; 
	display:none;
	z-index:1000;
	border: solid 1px;
}

.tablaSelectorCorreos{
	
	width:80%; 
	height: 900px;
	position:absolute;
	top:5em;
	left:10em;
	background-color:#FFFFFF;
	overflow:auto;
	padding:2em; 
	display:none;
	z-index:1000;
	border: solid 1px;
}

.nuevaListaCorreos{
	
	width:60%; 
	height: 450px;
	position:absolute;
	top:10em;
	left:20%;
	background-color:#e9e9e9;
	overflow:hidden;
	padding:2em; 
	display:none;
	z-index:1000;
	border: solid 1px;

}

.alerta_banner_erroneo{
	
	border:solid 3px;
	position:absolute;
	top:400;
	left:500;
	z-index: 10000;
	margin: 20px;
	padding: 20px;
	background-color:white;
	text-align:center;
	
}
.sorteos tr:hover, .td:hover {
  background-color: #e9e9e9;
  color: black;
}

.tablaPermisos{
	
	width:90%;
	color:#39C;
}

.tablaPermisos th{
	
	color:#39C;
	text-align:left;
	padding-top:1em;
	padding-bottom:1em;
	padding-left:0.5em;
}

.tablaPermisos td{
	width: 33%;
	padding:0.5em;
	background-color:#E9E9E9;
}
a.active {
  text-decoration: underline; /* Puedes cambiar esto según tus preferencias */
  /* Otros estilos para resaltar la pestaña activa */
}

/* Estilos base para el switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-left:1em;
}

/* Estilo del input checkbox (ocultar) */
.switch input {
  display: none;
}

/* Estilo del slider (el interruptor en sí) */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red; /* Color de fondo cuando está desactivado */
  transition: .3s;
  border-radius: 30px; /* Forma redondeada del interruptor */
  
}

/* Estilo del slider cuando está activado */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  background-color: #ccc; /* Color de fondo cuando está desactivado */
  transition: .3s;
  border-radius: 50%; /* Forma redondeada del botón */
}

/* Cambia el color de fondo cuando el interruptor está activado */
input:checked + .slider {
  background-color: green; /* Color de fondo cuando está activado */
}

/* Mueve el botón a la derecha cuando el interruptor está activado */
input:checked + .slider:before {
  transform: translateX(26px);
}
