.overlay{
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index:300;
	
	
	
}

.hidden {
	display: none;
}

.popup{
	
	background: #f8f8f8;
	box-shadow: 0px 0px 5px 0 px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	
	
	
}

.cerrar_popup{
	text-decoration: none;
	color: #ffffff;
	border-color: #d4ac0d;
	background-color: #d4ac0d;
	border-radius: 3px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1;
	border: none;
	cursor: pointer;
	transition-duration: 0.4s;
}

.cerrar_popup:hover{
    background-color: #e8c22c;
	text-decoration: none;

}

.popup h3{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
}

.popup h5{
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
}






